:root {
    --oxford-blue: #0a1128ff;
    --penn-blue: #001f54ff;
    --indigo-dye: #034078ff;
    --cerulean: #1282a2ff;
    --white: #fefcfbff;

    --barlow-regular-font-family: "Barlow", sans-serif;
    --barlow-regular-font-weight: 400;
    --barlow-regular-font-style: normal;

    --lato-regular-font-family: "Lato", sans-serif;
    --lato-regular-font-weight: 400;
    --lato-regular-font-style: normal;


}

body {
    font-family: 'Times New Roman', Times, serif;
    display: grid;
    place-items: center;

}

h2 {
    color: var(--penn-blue);
}

p {
    color: var(--oxford-blue);
}
.swatch1 {
background-color: #3E2723; color: white;
}

.swatch2 {
background-color: #D7CCC8; color: #3E2723;
}

.swatch3 {
background-color: #2E7D32; color: white;
}

.swatch4 {
background-color: #FFF8E1; color: #3E2723; border: 1px solid #ddd;
}

.titleEx,
.paragraphEx {
    font-family: var(--lato-regular-font-family);
    color: green;
    font-weight: bold;
    font-size: 18px;
}

.headfoot {
    font-family: var(--barlow-regular-font-family);
    color: green;
    font-size: 18px;
    font-weight: bold;
}


.headerEx,
.footerEx {
    width: 200px;
    height: 30px;
    background-color: var(--indigo-dye);
    color: var(--white);
    text-align: center;
}

img {
    width: 25%;
}