@media (min-width: 901px) {
  .main {
    grid-template-columns: repeat(3, 1fr);
  }
  .main h2{
    grid-column: 1 / 4;
  }
  button{
    display: none;
  }

  header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  header h1 {
    margin: 1.5rem;
  }

  .navigation {
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }

  .navigation a{
    display: block;
  }

  #menu {
    display: none;
    opacity: 0    ;
  }
  
}