* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Open-sans", sans-serif;

}

:root {
  --primary-color:#ffffff;
  --second-color: #3e0cd6; 

}

body{
  text-align: center;
  color: var(--primary-color);
}

#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: #000;
    position: fixed;
    top: 10px;
    right: 10px;
}

#menu::before {
  content: "☰";
  color: purple;
}

#menu.open::before {
  content: "X";
  color: purple;
}

main h2 {
  color: var(--second-color)
}

header {
  background-color: var(--second-color);
}

.navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: var(--second-color);
}

.navigation a {
    display: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: var(--primary-color);
    transition: 0.3s;
}

.navigation a:hover {
    text-decoration: underline;
}

.open a {
    display: block;
}

figcaption{
  font-size: 1rem;
  color: var(--second-color);
}

.main{
  display: grid;
  gap: 10px;
  justify-items: center;
}

.main figure{
  padding: 20px;
  text-align: center;
}

img{
  max-width: 100%;
  border: 1.5px solid var(--primary-color);
  border-radius: 5px;
}


footer{
  background-color: var(--second-color);
  color: var(--primary-color);
  border-radius: 0 0 10px 10px;
  padding: 10px;
}
